body{
  font-family: 'Open Sans', sans-serif;
  color: #333;
  line-height: 100%
}
a.link{
  color: #476CB2;
  border-radius: 15px;
  text-decoration: none;
  outline: none;
  font-size: 22px;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0 5px 10px;

  border: 1px solid rgba(0,0,0,0);
}
a.link:hover{
  text-decoration: none;
  border-bottom: 1px solid;
}
a.link:visited{
  color: #999999;
}

a{
  color: #476CB2;
}
a:hover{
  color: #5ab2e4;

}
ul{
  list-style: none;
  margin: 0;
  padding: 0px 0 0 10px;

}
ul li {
  margin-bottom: 7px;
  text-align: left;
}



.inner{
  width: 397px;
  margin: 0 auto;
  line-height: auto;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -198.5px;
}
.logo{
  margin: 60px auto 0;
  display: block;
}
.logo-text{
  text-align: center;
  font-weight: 100;
  font-size: 28px;
  margin: -20px 0 30px 197px;
  width: 300px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}