body{
  font-family: 'Open Sans', sans-serif;
  color: #333;
  line-height: 100%
}
a.link{
  color: #FFF;
  border-radius: 7px;
  text-decoration: none;
  outline: medium none;
  font-size: 22px;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0px 5px 10px;
  border: 1px solid transparent;
  width: 270px;
  text-align: center;
  height: 40px;
  background: rgba(98, 180, 228, 0.75) none repeat scroll 0% 0%;
  line-height: 35px;

}
a.link:hover{
  text-decoration: none;
  border-bottom: 1px solid;
}

a{
  color: #476CB2;
}
a:hover{
  background: #5272b4;

}
ul{
  list-style: none;
  margin: 0;
  padding: 0px 0 0 10px;

}
ul li {
  margin-bottom: 12px;
  text-align: center;
}



.inner{
  width: 651px;
  margin: 0 auto;
  line-height: auto;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -325.5px;
}
.logo{
  margin: 60px auto 30px;
  display: block;
}
.logo-text{
  text-align: center;
  font-weight: 100;
  font-size: 28px;
  margin: -20px 0 30px 197px;
  width: 300px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}